
services:
  app:
    build: .                          # Dockerfile を使ってイメージをビルド
    ports:
      - "5001:5000"                   # ホスト:コンテナ のポートマッピング
    container_name: app               # コンテナ名（省略可だが把握しやすい）
    volumes:
      - ./app:/usr/src/app            # ホストのソースコードをマウント（自動反映のため必須）
    env_file:
      - env/.env.app
    command: sh -c "${APP_CMD}"
    #command: sh -c "sleep infinity"
    depends_on:
      - db                            # app 起動前に db を起動させる

  db:
    image: postgres:latest            # 最新版の PostgreSQL イメージを使用
    container_name: my-postgres       # コンテナ名
    env_file:
      - env/.env.db
    ports:
      - "5432:5432"                   # PostgreSQL のポート公開
    volumes:
      - pgdata:/var/lib/postgresql/data
        # 永続化ボリューム：コンテナ削除してもデータが残る

volumes:
  pgdata:                             # PostgreSQL 用の永続ボリューム
